body {
  padding-top: 70px;
}

.columns-container {
  width: 80%;
  margin: 0 auto; /* This will center the div horizontally */
  display: flex;
}

.column {
  flex: 1;
  margin-right: 10px; /* Adjust margin as needed */
  border-left: 1px solid black; /* Line at the left side */
}

.last-column {
  flex: 1;
  margin-right: 10px; /* Adjust margin as needed */
  border-left: 1px solid black; /* Line at the left side */
  border-right: 1px solid black;
}

.column:last-child {
  margin-right: 0; /* Remove margin for the last column */
}

.reservation {
  display: flex;
}

.box {
  border-top: 1px solid black;
  flex: 1; /* Each box takes equal space */
  padding: 10px; /* Optional: Add padding for spacing */
}

.nav-text {
  color: #000 !important; /* Set color to match nav-link */
}

.nav-text:hover {
  text-decoration: none !important; /* Remove underline on hover */
  color: #000 !important; /* Ensure text color remains the same on hover */
  cursor: default !important; /* Remove pointer cursor on hover */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-container h2 {
  margin-right: 20px;
}
