{extends '../@layout.latte'}
{block content}

    {if $flashes}
        <div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>
    {/if}


    <div class="welcome">
        <h1 n:block="title">{$message}</h1>

        <h3 style="margin-top: 10px; display: block;">To create a reservation, please navigate to the Reservations site using the navigation bar.</h3>
    </div>

{/block}