services:
    httpClient: GuzzleHttp\Client

    # Other services
    - App\Router\RouterFactory::createRouter
    - App\Models\ReservationFacade
    - App\Services\ApiService
    - App\Models\Authenticator


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
			- *Service
