services:
	- App\Router\RouterFactory::createRouter
	- App\Models\ReservationFacade
	- App\Models\ApiFacade
	- App\Services\ApiService
	- App\Models\Authenticator


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
			- *Service
